:root {
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
    --background: #EDF0F4;
  --grey: #828282;
  --dark-grey: #2953927A;
  --dark: #344661E5;
  --black: #000;
  --white: #fff;
  --light-blue: #E5F0FF;
  --blue: #4070F4;
  --text-blue:#0066FF;




}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}



body {
  background: var(--background);
  /* font-family: $font-family; */
 

}

a {
  text-decoration: none;
  cursor: pointer;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;

}

button {
  border: none;
  outline: none;
  padding: .7rem 1rem;
  cursor: pointer;

}

.container {
  padding:0 2rem 0 1rem;
}

.main{
  margin-left: 190px;
}


@media (max-width: 768px) {
  .main{
    margin-left: unset;
  }

  .container{
    padding:0;

  }  

  

  th {
    display: none;
  }

  td {
    display: block;
  }

  td:first-child {
    padding-top: 2rem;
  }

  td:last-child {
    padding-bottom: 2rem;
  }
  td::before {
    content: attr(data-cell) ": ";
    font-weight: 700;
  }
}

tr th,
thead td,
td,
td span {
  font-size: clamp(0.556rem, -0.2429rem + 3.7143vw, 0.9rem);
  text-align: start;
  padding: 0.5rem;
}

td:not(:first-child) {
  min-width: 9rem;
}


.custom_modal .ant-modal-body{
  border-radius: 20px;

}


.custom_modal .ant-modal-content{
  padding: 0;
  border-radius: 20px;

}