.navbar {

    .desktop {
        display: grid;
        grid-template-columns: 3fr 1.2fr;
        align-items: center;
        gap: 2rem;
        padding: 1rem 0;


        .search {
            input {
                width: 100%;
                background: var(--white);
            }
        }

        .user {
            display: flex;
            align-items: center;
            gap: 1rem;
            justify-content: space-evenly;
            font-size: 12px;

            a {
                color: var(--text-blue);
            }

            .icons {
                display: flex;
                align-items: center;
                gap: 1rem;
            }

        }

    }


    .sidebar {
        position: fixed;
        top: 0;
        bottom: 0;
        width: 80%;
        left: -85%;
        z-index: 50;
        overflow: hidden;
        filter: drop-shadow(0px 0px 60px rgba(0, 0, 0, 0.15));
        transition: left 0.3s;
        padding: 1rem 0 1rem 1rem;
        display: flex;
        flex-direction: column;
        background: #fff;
        gap: 1rem;

        .logo {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            .image {
                width: 140px;
                height: 100px;
                background: #C4C4C4;
            }

            .text {
                display: flex;
                align-items: center;
                gap: 1rem;
                color: var(--blue);
            }
        }

        .sidebar_contents {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            font-size: 14px;

            .box {
                display: flex;
                flex-direction: column;
                gap: .5rem;

                p {
                    color: var(--dark-grey);
                    font-weight: 700;
                }

                .items {
                    color: var(--grey);
                    display: flex;
                    align-items: center;
                    gap: 1rem;
                    cursor: pointer;

                    &:hover {
                        background: var(--light-blue);
                    }

                    &.active {
                        background: var(--light-blue);
                        color: var(--blue);

                    }
                }


            }
        }


        &.show {
            left: 0;

        }




    }

    @media (max-width:768px) {
        .desktop {
            display: none;

        }

        .mobile {
            // border: 2px solid red;
            background: var(--white);
            height: 4rem;
            padding: 0 2rem;

            display: flex;
            align-items: center;
            justify-content: space-between;

            .user {
                display: flex;
                align-items: center;

                .username {
                    display: none;
                }

                .icons {
                    display: flex;
                    gap: 1rem;
                }
            }
        }



    }

    @media (min-width:768px) {
        .sidebar {
            display: none;

        }

        .mobile {
            display: none;
        }
    }

}